body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-calendar {
  display: block;
  margin: 0 auto;
}

.react-calendar__tile--active {
  background: green;
  color: white;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: green;
}

.selected-date {
  background-color: green;
}

.user-selector-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line */
  height: 50px;
  margin: 20px auto 20px 20px;
}

.user-selector {
  height: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px;
  border-radius: 5px;
  background-color: #e0d8d8;
  flex-grow: 1;
  margin-left: 2px;
}

.user-selector-button {
  height: 80%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-selector-button:hover {
  background-color: #3e8e41;
}